In [26]:
import pandas as pd

In [27]:
data1 = pd.read_csv("data-1.csv")
data2 = pd.read_csv("data-2.csv")
data3 = pd.read_csv("data-3.csv")
data4 = pd.read_csv("data-4.csv")
data5 = pd.read_csv("data-5.csv")
data6 = pd.read_csv("data-6.csv")

In [28]:
data1.describe()

                x           y
count  100.000000  100.000000
mean     8.717696   12.522874
std     12.155517    6.639964
min    -22.635878   -2.565088
25%      0.273720    8.700088
50%      9.129153   13.058321
75%     16.844928   16.866256
max     35.237055   27.384153

In [29]:
data2.describe()

                x           y
count  100.000000  100.000000
mean    -0.710787   -0.748987
std     11.481584    6.257918
min    -33.271113  -18.621804
25%     -7.158775   -4.226143
50%     -0.904306   -0.363660
75%      6.463880    3.239783
max     27.647000   14.147315

In [30]:
data3.describe()

                x           y
count  300.000000  300.000000
mean     0.968907    8.508535
std      2.235558    1.149301
min     -2.449064    6.641734
25%     -0.786092    7.462954
50%      0.936631    8.484485
75%      2.672549    9.538208
max      4.518885   10.551871

In [31]:
data4.describe()

                x           y
count  118.000000  118.000000
mean    49.905086   18.553837
std     28.508611   16.545896
min      0.000000    0.000000
25%     31.851625    4.635509
50%     55.178870   13.459013
75%     73.584013   35.114157
max     87.376700   44.565040

In [32]:
data5.describe()

                x           y
count  118.000000  118.000000
mean    49.909994   18.555525
std     28.500001   16.540796
min      4.337892    0.055498
25%     27.822473    3.246504
50%     48.002340   15.453975
75%     68.051795   34.926532
max     91.052863   49.934197

In [33]:
data6.describe()

                x           y
count  100.000000  100.000000
mean     7.216155    7.602215
std     11.921599   11.764382
min    -24.333821  -22.956357
25%     -1.666417   -1.395762
50%      8.026907    8.475399
75%     15.992990   16.288893
max     35.402139   36.079874

In [34]:
data1.corr()

          x         y
x  1.000000  0.950326
y  0.950326  1.000000

In [35]:
data2.corr()

          x         y
x  1.000000  0.955153
y  0.955153  1.000000

In [36]:
data3.corr()

          x         y
x  1.000000  0.981937
y  0.981937  1.000000

In [37]:
data4.corr()

          x         y
x  1.000000 -0.081193
y -0.081193  1.000000

In [38]:
data5.corr()

          x         y
x  1.000000 -0.088236
y -0.088236  1.000000

In [39]:
data6.corr()

          x         y
x  1.000000  0.935069
y  0.935069  1.000000